CL.read.1.tlog
CL.write.1.tlog
cl.command.1.tlog
errors.obj
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
mt.command.1.tlog
mt.read.1.tlog
mt.write.1.tlog
test.obj
tests.Build.CppClean.log
tests.exe
tests.exe.intermediate.manifest
tests.lastbuildstate
tests.log
tests.pdb
tests.write.1.tlog
utils.obj
vc100.idb
vc100.pdb
LICENSE
README.md
array.cpp
memory.h
parser.cpp
simple_specifiers.h
specifier.cpp
sscanf.cpp
sscanf.hpp
utils.cpp
CL.read.1.tlog
CL.write.1.tlog
cl.command.1.tlog
errors.obj
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
mt.command.1.tlog
mt.read.1.tlog
mt.write.1.tlog
sscanf.lastbuildstate
sscanf.log
sscanf.unsuccessfulbuild
test.obj
tests.Build.CppClean.log
tests.exe
tests.exe.intermediate.manifest
tests.lastbuildstate
tests.log
tests.pdb
tests.write.1.tlog
utils.obj
vc100.pdb
tests-af8a0b7f.ipch
/sscanf.opensdf
/sscanf.suo
/sscanf.vcxproj.user
/tests.vcxproj.user
/sscanf.sdf
*.obj
/Debug/tests.vcxprojResolveAssemblyReference.cache
/src/defaults.h
/Release/sscanf.Build.CppClean.log
/Release/sscanf.dll.intermediate.manifest
/Release/sscanf.exp
/Release/sscanf.lib
/Release/sscanf.pdb
/Release/sscanf.write.1.tlog
/Release/tests.unsuccessfulbuild
/ipch/sscanf-dded99a2/sscanf-7906df0a.ipch
/Release/tests.vcxprojResolveAssemblyReference.cache
/ipch/sscanf-dded99a2/sscanf-949c63c4.ipch
